body {
  background-color: #08082B;
  
}

.container {
  margin: 50px;
  
}

.card {
  opacity: 40%;
  color: black;
  height: 500px;
}

.footer {
  background-color: #081F2B;
  color: black;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  
}
